{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros%}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block page_content %}
<div>
    
    {{ wtf.quick_form(form) }}
    
</div>
{% include '_posts.html' %}
{% endblock %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}