{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block page_content %}
<div class="page-header">
    {% if cn %}
        {% if mana %}
        <h1>武汉楚水应援团祝恁生日快乐，{{ mana }}({{cn}})</h1>
        {% else %}
        <h1>武汉楚水应援团欢迎你，{{ cn }}</h1>
        {% endif %} 
           
    {% else %}
    <h1>武汉楚水应援团欢迎你，无名孤儿</h1>
    {% endif %}
    {% if not known %}
    <h3>はちめまして、ようるしくお願いします！</h3>
    {% else %}
    <h3>Happy to see you again!</h3>
    {% endif %}
    <h3>今の時は{{moment(current_time).format('LLL')}}です！</h3>
    <h2>蝈蝈お诞生日おめでとう、あなたと知り合って光栄です！！</h2>
    <h4>That was {{ moment(current_time).fromNow(refresh=True)}}</h4>
</div>
<div class="form">
{{ wtf.quick_form(form) }}
</div>
{% endblock %}